.locationcont{
    width: 100%;
    height: 35px;
    text-align: center;
    color: #888;
}

.weatherlocationcont{
    width: 450px;
    display: block;
    margin-left: 2em;
    margin-right: auto;
    margin-top: 2em;
    -webkit-box-shadow: 3px 3px 28px 16px rgba(19,124,156,0.41);
    -moz-box-shadow: 3px 3px 28px 16px rgba(19,124,156,0.41);
    box-shadow: 3px 3px 28px 16px rgba(19,124,156,0.41);    
}

